body{
  background-image: url("https://img.freepik.com/free-vector/gradient-liquid-abstract-background_52683-60469.jpg?t=st=1647408020~exp=1647408620~hmac=2c6b796f181069e67c57d1e82a76aceed44dc3313a9c71ce32754ca9230c7300&w=1060");
  background-repeat: no-repeat;
  background-size: 1600px 800px;
  align-items: center;
  }
  table{
  border-radius: 30px;
  background-color: white;
  padding: 10px;
}
h2{
  font-size: 50px;
  color: white;
  font-family: 'Brush Script MT', cursive;
  font-weight: bolder;
  padding: 0;
}
td{
  font-size: 20px;
  color:#3E065F;
  font-family:fantasy;
}
input{
  border: solid #3E065F 2px;
  border-radius: 2px;
}
.btn {
  border-radius: 13px;
  font-family:fantasy;
  color: #3E065F;
  font-size: 19px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #3E065F 5px;
  text-decoration: none;
}

.btn:hover {
  background: #BC8CF2;
  text-decoration: none;
}
